@charset "IBM437";
/*


  #     # ######     ######                                                                  
   #   #  #     #    #     #  ####  # #      ###### #####  #####  #        ##   ##### ###### 
    # #   #     #    #     # #    # # #      #      #    # #    # #       #  #    #   #      
     #    #     #    ######  #    # # #      #####  #    # #    # #      #    #   #   #####  
    # #   #     #    #     # #    # # #      #      #####  #####  #      ######   #   #      
   #   #  #     #    #     # #    # # #      #      #   #  #      #      #    #   #   #      
  #     # ######     ######   ####  # ###### ###### #    # #      ###### #    #   #   ###### 


   ..-----------------------------------------------------------...
  |     XD Boilerplate - Agile Front End Architecture         |
  |..-----------------------------------------------------------..|
  |                                 |
  | This in an effort to develop an efficient/ modular and agile  | 
  | front-end architecture that is easily maintainable and      |
  | escalable.                                                    | 
  |...............................................................|

    Author: Carlos E. Pérez 
    
  ................
  |   APP.SCSS   |
  ................

  About this file:

  This file is the module loader, the master skeleton in which every
  file is called and from here compiled to a single big compressed and
  optimized stylesheet.

*/
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================

                                               ###       ##                      
 ##   ##                                        ##       ##                      
 ###  ##                                        ##                               
 ###  ##   #####   ## ###   ### ##    ######    ##     ####     ######    #####  
 ## # ##  ##   ##  ###      ## # ##  ##   ##    ##       ##        ##    ##   ## 
 ## # ##  ##   ##  ##       ## # ##  ##   ##    ##       ##       ##     ####### 
 ##  ###  ##   ##  ##       ## # ##  ##  ###    ##       ##      ##      ##      
 ##   ##   #####   ##       ##   ##   ### ##   ####    ######   ######    #####  




   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 35, ../../_engine/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 45, ../../_engine/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 54, ../../_engine/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 63, ../../_engine/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 81, ../../_engine/_normalize.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
/* line 93, ../../_engine/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 105, ../../_engine/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 114, ../../_engine/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 127, ../../_engine/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 136, ../../_engine/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 145, ../../_engine/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 153, ../../_engine/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 161, ../../_engine/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 171, ../../_engine/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 183, ../../_engine/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 192, ../../_engine/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 200, ../../_engine/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 208, ../../_engine/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 217, ../../_engine/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 224, ../../_engine/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 228, ../../_engine/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 240, ../../_engine/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 248, ../../_engine/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 260, ../../_engine/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 272, ../../_engine/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 283, ../../_engine/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 297, ../../_engine/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 309, ../../_engine/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 321, ../../_engine/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 336, ../../_engine/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 346, ../../_engine/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 356, ../../_engine/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 367, ../../_engine/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 380, ../../_engine/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 389, ../../_engine/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 399, ../../_engine/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 412, ../../_engine/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

 ................
  |   SETTINGS   |
  ................

  About this file:

  In this file you will be able to modify the whole look and feel
  of the whole project only by changing the values of the variables
  defined below.
*/
/* ..-------------------------------------------------------...
  |                         COLOR PALETTE                      |
  |..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------...
  |                         HEADER                             |
  |..--------------------------------------------------------..|*/
/*...................Main Menu.....................*/
/* ..-------------------------------------------------------...
  |                         CONTENT                            |
  |..--------------------------------------------------------..|*/
/*...................Links.....................*/
/*...................Sidebar.....................*/
/*...................Headings.....................*/
/*...................Buttons.....................*/
/* Hover states */
/*...................Forms.....................*/
/* ..-------------------------------------------------------...
  |                         FOOTER                             |
  |..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------...
  |                 ANIMATIONS & TRANSITIONS                   |
  |..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------...
  |                 MODULE DEFINITION VARIABLES                |
  |..--------------------------------------------------------..|*/
/** Bootstrap **/
/** Breadcrumbs **/
/** Accordion **/
/** Vertical Menu **/
/* ..-------------------------------------------------------...
 |                         HELPER CLASSES                     |
 |..--------------------------------------------------------..|*/
/* line 5, ../../_engine/_helpers.scss */
.nodisplay, #people-grid .people-expander, .hide {
  display: none;
}

/* line 6, ../../_engine/_helpers.scss */
.inline, img {
  display: inline-block;
}

/* line 7, ../../_engine/_helpers.scss */
.pointer:hover, a:hover, header .menu ul li:hover, body > .header .menu ul li:hover {
  cursor: pointer;
}

/* line 8, ../../_engine/_helpers.scss */
.center {
  text-align: center;
}

/* line 9, ../../_engine/_helpers.scss */
.left {
  text-align: left;
}

/* line 10, ../../_engine/_helpers.scss */
.right {
  text-align: right;
}

/* line 11, ../../_engine/_helpers.scss */
.auto {
  margin: 0 auto;
}

/* line 12, ../../_engine/_helpers.scss */
.odd {
  background: #FBFBFB;
}

/* line 13, ../../_engine/_helpers.scss */
.even {
  background: #F2F0F1;
}

/* line 14, ../../_engine/_helpers.scss */
.letterpressed {
  text-shadow: 1px 1px 0 #ccc, -1px -1px- 0 #999;
}

/* line 15, ../../_engine/_helpers.scss */
.bold {
  font-weight: bold;
}

/* line 16, ../../_engine/_helpers.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 17, ../../_engine/_helpers.scss */
.block, .menu .icon, #people-grid .item, #people-grid .info, #people-grid .back, #people-grid .front, #people-grid .info > span {
  display: block;
}

/* line 18, ../../_engine/_helpers.scss */
.h100, #people-grid li > a, #people-grid .info, #people-grid .info > span, #people-grid .front {
  height: 100%;
}

/* line 19, ../../_engine/_helpers.scss */
.w100, header, body > .header, #people-grid li > a, #people-grid .info, #people-grid .info > span, #people-grid .front {
  width: 100%;
}

/* line 20, ../../_engine/_helpers.scss */
.noOutline, a:focus {
  outline: none;
}

/* line 21, ../../_engine/_helpers.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../../_engine/_helpers.scss */
.paddingL {
  padding-left: 1.3%;
}

/* line 26, ../../_engine/_helpers.scss */
.paddingB {
  padding-bottom: 1.3%;
}

/* line 27, ../../_engine/_helpers.scss */
.paddingR {
  padding-right: 1.3%;
}

/* line 28, ../../_engine/_helpers.scss */
.paddingT {
  padding-top: 1.3%;
}

/* line 31, ../../_engine/_helpers.scss */
.floatR, #avanade-logo {
  float: right;
}

/* line 32, ../../_engine/_helpers.scss */
.floatL, header .menu ul li, body > .header .menu ul li, .menu .icon {
  float: left;
}

/* line 33, ../../_engine/_helpers.scss */
.positionA, header, body > .header, #people-grid .info, #people-grid .info > span {
  position: absolute;
}

/* line 34, ../../_engine/_helpers.scss */
.positionF {
  position: fixed;
}

/* line 35, ../../_engine/_helpers.scss */
.positionR, #people-grid li > a, #people-grid li a img {
  position: relative;
}

/* line 39, ../../_engine/_helpers.scss */
.animateBackground, #menu li a {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 44, ../../_engine/_helpers.scss */
.animateAll, #xdlogo:hover #xdlogoBottom polygon, #xdlogo:hover #xdlogoBottom path, #people-grid li > a, #people-grid .info > span {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 51, ../../_engine/_helpers.scss */
.fullFixedBg, #stage, #whoweare {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-origin: border-box;
}

/**=============================================================================================
 * ---------------------------------------------------------------------------------------------
				                                                ##    
				 ##                                             ##    
				 ##                                             ##    
				 ##        ######  ##  ##    #####   ##   ##  ######  
				 ##       ##   ##  ##  ##   ##   ##  ##   ##    ##    
				 ##       ##   ##  ##  ##   ##   ##  ##   ##    ##    
				 ##       ##  ###  ##  ##   ##   ##  ##  ###    ##    
				 ######    ### ##   #####    #####    ### ##     ###  
				                       ##                             
				                    ####    

 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 29, ../../_engine/_layout.scss */
.page {
  *zoom: 1;
  max-width: 73.125em;
  _width: 73.125em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 30em) {
  /* line 29, ../../_engine/_layout.scss */
  .page {
    max-width: 48.125em;
    padding-left: 1.875em;
    padding-right: 1.875em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .page:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 42, ../../_engine/_layout.scss */
.wrapper {
  *zoom: 1;
  max-width: 73.125em;
  _width: 73.125em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 49, ../../_engine/_layout.scss */
#content {
  *zoom: 1;
  max-width: 73.125em;
  _width: 73.125em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../../_engine/_layout.scss */
.wrapper {
  *zoom: 1;
  max-width: 73.125em;
  _width: 73.125em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 55, ../../_engine/_layout.scss */
#whatwedo .box {
  width: 31.62393%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
}
/* line 57, ../../_engine/_layout.scss */
#whatwedo .box:nth-of-type(3n) {
  width: 31.62393%;
  float: right;
  margin-right: 0;
  *margin-left: -1.875em;
  display: inline;
}

/*
ASCII generator: http://www.bagill.com/ascii-sig.php - Font Clb8X10 : Titles Clb
*/
/**=============================================================================================
 * ---------------------------------------------------------------------------------------------

              ######                                       ######                             
               ##   ##                                        ##                               
               ##   ##   ######   #####    #####              ##      ######   ######   #####  
               ######   ##   ##  ##       ##   ##             ##     ##   ##  ##   ##  ##      
               ##   ##  ##   ##   ####    #######             ##     ##   ##  ##   ##   ####   
               ##   ##  ##  ###      ##   ##                  ##     ##  ###  ##   ##      ##  
               ######    ### ##  #####     #####              ##      ### ##   ######  #####   
                                                                                   ##          
                                                                               #####     

 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 22, ../../_engine/_styles.scss */
html, body {
  margin: 0;
  height: 100%;
  background: #fefefe;
  font-size: 100%;
}

/* line 29, ../../_engine/_styles.scss */
body, p {
  font-family: colaboratelightregular;
  font-size: 100%;
  color: #444444;
  letter-spacing: 0;
}

/* line 37, ../../_engine/_styles.scss */
a {
  color: #255fa7;
  text-decoration: none;
  outline: 0;
}
/* line 18, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #1b5eb1;
}
/* line 21, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #5892da;
}
/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #2e77d1;
}
/* line 27, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #0072ff;
}

/* line 49, ../../_engine/_styles.scss */
p {
  margin: 10px 0;
}

/* line 52, ../../_engine/_styles.scss */
strong {
  font-weight: bold;
  color: #333333;
}

/* line 59, ../../_engine/_styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 66, ../../_engine/_styles.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 72, ../../_engine/_styles.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 77, ../../_engine/_styles.scss */
object,
embed {
  height: 100%;
}

/* line 80, ../../_engine/_styles.scss */
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 9, 2013 */
@font-face {
  font-family: 'colaboratelightregular';
  src: url("fonts/colablig-webfont.eot");
  src: url("fonts/colablig-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colablig-webfont.woff") format("woff"), url("fonts/colablig-webfont.ttf") format("truetype"), url("fonts/colablig-webfont.svg#colaboratelightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborate-regularregular';
  src: url("fonts/colabreg-webfont.eot");
  src: url("fonts/colabreg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colabreg-webfont.woff") format("woff"), url("fonts/colabreg-webfont.ttf") format("truetype"), url("fonts/colabreg-webfont.svg#colaborate-regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikaregular';
  src: url("fonts/signika-regular-webfont.eot");
  src: url("fonts/signika-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/signika-regular-webfont.woff") format("woff"), url("fonts/signika-regular-webfont.ttf") format("truetype"), url("fonts/signika-regular-webfont.svg#signikaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikasemibold';
  src: url("fonts/signika-semibold-webfont.eot");
  src: url("fonts/signika-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/signika-semibold-webfont.woff") format("woff"), url("fonts/signika-semibold-webfont.ttf") format("truetype"), url("fonts/signika-semibold-webfont.svg#signikasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**=============================================================================================
 * ---------------------------------------------------------------------------------------------

                                                       ##                   
                       ##   ##                         ##                   
                       ##   ##                         ##                   
                       ##   ##   #####    ######   ######   #####   ## ###  
                       #######  ##   ##  ##   ##  ##   ##  ##   ##  ###     
                       ##   ##  #######  ##   ##  ##   ##  #######  ##      
                       ##   ##  ##       ##  ###  ##   ##  ##       ##      
                       ##   ##   #####    ### ##   ######   #####   ##     


 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 165, ../../_engine/_styles.scss */
header, body > .header {
  background: none;
  background-color: transparent;
  z-index: 100;
}
/* line 174, ../../_engine/_styles.scss */
header .logo, body > .header .logo {
  background: url("../img/logo-xd.svg") no-repeat;
  width: 343px;
  height: 107px;
}
/* line 179, ../../_engine/_styles.scss */
header .menu, body > .header .menu {
  background: white;
  font: colaboratelightregular;
  font-size: 1em;
  letter-spacing: 1px;
}
/* line 185, ../../_engine/_styles.scss */
header .menu ul li, body > .header .menu ul li {
  display: inline;
  font-family: colaboratelightregular;
  color: black;
  display: block;
}
/* line 190, ../../_engine/_styles.scss */
header .menu ul li.selected, body > .header .menu ul li.selected {
  background: white;
  -webkit-box-shadow: inset 0 0 10px white;
  -moz-box-shadow: inset 0 0 10px white;
  box-shadow: inset 0 0 10px white;
}
/* line 196, ../../_engine/_styles.scss */
header .menu ul li a, body > .header .menu ul li a {
  font-family: colaboratelightregular;
  color: black;
  padding: 1.69% 2.86%;
  display: block;
}
/* line 203, ../../_engine/_styles.scss */
header .menu ul li:hover, body > .header .menu ul li:hover {
  background: white;
}
/* line 208, ../../_engine/_styles.scss */
header .search, body > .header .search {
  line-height: 70px;
}
/* line 210, ../../_engine/_styles.scss */
header .search:after, body > .header .search:after {
  content: '';
  font-family: fontello;
}

/* line 220, ../../_engine/_styles.scss */
#xdlogo {
  animation-name: animateLogo;
  margin-top: 10px;
}

/* line 225, ../../_engine/_styles.scss */
#avanade-logo {
  margin: 20px;
}

/* line 229, ../../_engine/_styles.scss */
#xdlogo:hover #xdlogoBottom polygon, #xdlogo:hover #xdlogoBottom path {
  fill: black;
  animation: play 0.8s steps(10) infinite;
  -webkit-animation: play 0.8s steps(10) infinite;
  -moz-animation: play 0.8s steps(10) infinite;
  -o-animation: play 0.8s steps(10) infinite;
  -ms-animation: play 0.8s steps(10) infinite;
}

/* line 241, ../../_engine/_styles.scss */
#menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  height: 58px;
}
/* line 247, ../../_engine/_styles.scss */
#menu li {
  display: inline-block;
  width: 20%;
}
/* line 251, ../../_engine/_styles.scss */
#menu li a {
  color: #fefefe;
  line-height: 58px;
  display: block;
  text-transform: uppercase;
}
/* line 257, ../../_engine/_styles.scss */
#menu li a:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* line 263, ../../_engine/_styles.scss */
#menu ul {
  text-align: center;
}

/* line 270, ../../_engine/_styles.scss */
.menu .icon {
  width: 35px;
  height: 30px;
  margin: 12px 0 12px 20px;
  background-image: url(../img/nav.svg);
}

/* line 278, ../../_engine/_styles.scss */
.menu li:nth-child(2) a .icon {
  background-position: 0 35px;
}

/* line 279, ../../_engine/_styles.scss */
.menu li:nth-child(3) a .icon {
  background-position: 0 75px;
}

/* line 280, ../../_engine/_styles.scss */
.menu li:nth-child(4) a .icon {
  background-position: 0 120px;
}

/**=============================================================================================
 * ---------------------------------------------------------------------------------------------

                                                ##                         ##    
                     ####                       ##                         ##    
                    ##  ##                      ##                         ##    
                   ##        #####   ## ###   ######    #####   ## ###   ######  
                   ##       ##   ##  ###  ##    ##     ##   ##  ###  ##    ##    
                   ##       ##   ##  ##   ##    ##     #######  ##   ##    ##    
                    ##  ##  ##   ##  ##   ##    ##     ##       ##   ##    ##    
                     ####    #####   ##   ##     ###    #####   ##   ##     ###   
   

 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 298, ../../_engine/_styles.scss */
.content {
  background: #fefefe;
  font: colaboratelightregular;
  font-size: 100%;
  color: #444444;
}

/* line 305, ../../_engine/_styles.scss */
.sidebar {
  background: #eeeeee;
}

/* line 308, ../../_engine/_styles.scss */
#content {
  height: 100%;
}

/* line 311, ../../_engine/_styles.scss */
#stage {
  background-image: url(../img/stage.jpg);
  height: 100%;
  z-index: 2;
  position: relative;
}
/* line 315, ../../_engine/_styles.scss */
#stage .title {
  position: absolute;
  bottom: 100px;
  width: 100%;
}
/* line 320, ../../_engine/_styles.scss */
#stage h1 {
  width: 50%;
  line-height: 120%;
  text-shadow: 2px 2px 1px rgba(30, 30, 30, 0.5);
}

/* line 328, ../../_engine/_styles.scss */
#leftmenu {
  position: fixed;
  z-index: 1;
  position: relative;
}
/* line 330, ../../_engine/_styles.scss */
#leftmenu .icon {
  fill: yellow;
}

/* line 339, ../../_engine/_styles.scss */
#whatwedo {
  height: 100%;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-radial-gradient(#ffffff, #dddddd);
  background-image: -moz-radial-gradient(#ffffff, #dddddd);
  background-image: -o-radial-gradient(#ffffff, #dddddd);
  background-image: radial-gradient(#ffffff, #dddddd);
}
/* line 343, ../../_engine/_styles.scss */
#whatwedo h2 {
  text-align: center;
  padding-top: 150px;
  text-transform: uppercase;
}
/* line 348, ../../_engine/_styles.scss */
#whatwedo h3 {
  color: #333333;
  text-shadow: 2px 1px #fff;
  text-align: center;
  line-height: 297%;
  border-bottom: 1px solid #222;
  position: relative;
  text-transform: uppercase;
  font-size: 32px;
}
/* line 359, ../../_engine/_styles.scss */
#whatwedo h3:after {
  content: '';
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  outline: 3px solid #fff;
  font-size: 40px;
  left: 50%;
  bottom: -3px;
}
/* line 372, ../../_engine/_styles.scss */
#whatwedo .box {
  margin-top: 15%;
  padding: 20px;
}
/* line 374, ../../_engine/_styles.scss */
#whatwedo .box:nth-of-type(1) h3 {
  border-color: #45B5AA;
}
/* line 375, ../../_engine/_styles.scss */
#whatwedo .box:nth-of-type(2) h3 {
  border-color: #F0C05A;
}
/* line 376, ../../_engine/_styles.scss */
#whatwedo .box:nth-of-type(3) h3 {
  border-color: #E2583E;
}
/* line 377, ../../_engine/_styles.scss */
#whatwedo .box:nth-of-type(1) h3:after {
  background: #45B5AA;
}
/* line 378, ../../_engine/_styles.scss */
#whatwedo .box:nth-of-type(2) h3:after {
  background: #F0C05A;
}
/* line 379, ../../_engine/_styles.scss */
#whatwedo .box:nth-of-type(3) h3:after {
  background: #E2583E;
}
/* line 383, ../../_engine/_styles.scss */
#whatwedo .box .icon {
  text-align: center;
}
/* line 386, ../../_engine/_styles.scss */
#whatwedo .box p {
  padding: 20px;
  text-align: center;
  line-height: 160%;
}

/* line 393, ../../_engine/_styles.scss */
#howwedoit {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #e5e5e5), color-stop(100%, #ababab));
  background-image: -webkit-radial-gradient(#e5e5e5, #ababab);
  background-image: -moz-radial-gradient(#e5e5e5, #ababab);
  background-image: -o-radial-gradient(#e5e5e5, #ababab);
  background-image: radial-gradient(#e5e5e5, #ababab);
  height: 100%;
  position: relative;
  /* IE10 Windows Phone 8 Fixes */
}
/* line 397, ../../_engine/_styles.scss */
#howwedoit #xd_process {
  position: absolute;
  top: 0;
}
/* line 401, ../../_engine/_styles.scss */
#howwedoit .swiper-wrapper article {
  padding: 20px;
  height: 100%;
}
/* line 404, ../../_engine/_styles.scss */
#howwedoit .swiper-wrapper article:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* line 411, ../../_engine/_styles.scss */
#howwedoit .swiper-wrapper article .centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
/* line 418, ../../_engine/_styles.scss */
#howwedoit .swiper-container {
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 427, ../../_engine/_styles.scss */
#howwedoit .swiper-wrapper {
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}
/* line 458, ../../_engine/_styles.scss */
#howwedoit .swiper-wrapper > div, #howwedoit .swiper-wrapper > article, #howwedoit .swiper-slide {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 464, ../../_engine/_styles.scss */
#howwedoit .icon {
  width: 100%;
}
/* line 467, ../../_engine/_styles.scss */
#howwedoit .swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 471, ../../_engine/_styles.scss */
#howwedoit .swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
/* line 474, ../../_engine/_styles.scss */
#howwedoit .swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
/* line 477, ../../_engine/_styles.scss */
#howwedoit .pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}
/* line 483, ../../_engine/_styles.scss */
#howwedoit .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
/* line 494, ../../_engine/_styles.scss */
#howwedoit .swiper-visible-switch {
  background: #aaa;
}
/* line 497, ../../_engine/_styles.scss */
#howwedoit .swiper-active-switch {
  background: #fff;
}

/* line 501, ../../_engine/_styles.scss */
#whoweare {
  background-image: url(../img/people-bg.jpg);
}

/* line 511, ../../_engine/_styles.scss */
#people-grid li {
  width: 20%;
  display: inline;
}
/* line 512, ../../_engine/_styles.scss */
#people-grid li > a {
  width: 201px;
  height: 201px;
  display: inline-block;
  color: #fefefe;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -ms-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
}
/* line 520, ../../_engine/_styles.scss */
#people-grid li > a:hover .front {
  -webkit-transform: translate3d(0, 101px, 0) rotate3d(1, 0, 0, -90deg);
  -moz-transform: translate3d(0, 101px, 0) rotate3d(1, 0, 0, -90deg);
  -ms-transform: translate3d(0, 101px, 0) rotate3d(1, 0, 0, -90deg);
  -o-transform: translate3d(0, 101px, 0) rotate3d(1, 0, 0, -90deg);
  transform: translate3d(0, 101px, 0) rotate3d(1, 0, 0, -90deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 524, ../../_engine/_styles.scss */
#people-grid li > a:hover .back {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  -ms-transform: rotate3d(1, 0, 0, 0deg);
  -o-transform: rotate3d(1, 0, 0, 0deg);
  transform: rotate3d(1, 0, 0, 0deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 536, ../../_engine/_styles.scss */
#people-grid .info {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 546, ../../_engine/_styles.scss */
#people-grid .front {
  background-image: url(../img/people/thumbs/1.jpg);
  -webkit-transform-origin: 0 50% 0 0 50%;
  -moz-transform-origin: 0 50% 0 0 50%;
  -ms-transform-origin: 0 50% 0 0 50%;
  -o-transform-origin: 0 50% 0 0 50%;
  transform-origin: 0 50% 0 0 50%;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic1 {
  background-position: 0px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic2 {
  background-position: -201px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic3 {
  background-position: -402px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic4 {
  background-position: -603px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic5 {
  background-position: -804px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic6 {
  background-position: -1005px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic7 {
  background-position: -1206px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic8 {
  background-position: -1407px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic9 {
  background-position: -1608px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic10 {
  background-position: -1809px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic11 {
  background-position: -2010px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic12 {
  background-position: -2211px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic13 {
  background-position: -2412px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic14 {
  background-position: -2613px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic15 {
  background-position: -2814px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic16 {
  background-position: -3015px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic17 {
  background-position: -3216px 0;
}
/* line 554, ../../_engine/_styles.scss */
#people-grid .front.pic18 {
  background-position: -3417px 0;
}
/* line 558, ../../_engine/_styles.scss */
#people-grid .back {
  -webkit-transform-origin: 50% 0 0 0 50%;
  -moz-transform-origin: 50% 0 0 0 50%;
  -ms-transform-origin: 50% 0 0 0 50%;
  -o-transform-origin: 50% 0 0 0 50%;
  transform-origin: 50% 0 0 0 50%;
  background: #333333;
  -webkit-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -moz-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -ms-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  -o-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/**=============================================================================================
 * ---------------------------------------------------------------------------------------------

                                                 ##    ##                               
                 ##   ##                         ##    ##                               
                 ##   ##                         ##                                     
                 ##   ##   #####    ######   ######  ####     ## ###    ######   #####  
                 #######  ##   ##  ##   ##  ##   ##    ##     ###  ##  ##   ##  ##      
                 ##   ##  #######  ##   ##  ##   ##    ##     ##   ##  ##   ##   ####   
                 ##   ##  ##       ##  ###  ##   ##    ##     ##   ##  ##   ##      ##  
                 ##   ##   #####    ### ##   ######  ######   ##   ##   ######  #####   
                                                                            ##          
                                                                        ##### 
   

 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 588, ../../_engine/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "signikasemibold";
  font-weight: normal;
}

/* line 593, ../../_engine/_styles.scss */
h1 {
  font-size: 4em;
  color: #fefefe;
}

/* line 597, ../../_engine/_styles.scss */
h2 {
  font-size: 3.2em;
  color: #333333;
}

/* line 601, ../../_engine/_styles.scss */
h3 {
  font-size: 2.2em;
  color: #fefefe;
}

/* line 605, ../../_engine/_styles.scss */
h4 {
  color: #fefefe;
  font-size: 1.8em;
}

/* line 609, ../../_engine/_styles.scss */
h5 {
  color: #fefefe;
  font-size: 1.4em;
}

/* line 613, ../../_engine/_styles.scss */
h6 {
  color: #fefefe;
  font-size: 1.16em;
}

/**=============================================================================================
 * ---------------------------------------------------------------------------------------------

                                 #######                                     
                                 ##                                          
                                 ##        #####   ## ###   ### ##    #####  
                                 #####    ##   ##  ###      ## # ##  ##      
                                 ##       ##   ##  ##       ## # ##   ####   
                                 ##       ##   ##  ##       ## # ##      ##  
                                 ##        #####   ##       ##   ##  ##### 
   

 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 635, ../../_engine/_styles.scss */
input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.3%;
  border: none;
}
/* line 639, ../../_engine/_styles.scss */
input:hover, textarea:hover {
  background: #eeeeee;
}
/* line 642, ../../_engine/_styles.scss */
input:focus, textarea:focus {
  background: #eeeeee;
}

/* line 646, ../../_engine/_styles.scss */
:focus {
  outline: 0;
  outline: none;
}

/* line 650, ../../_engine/_styles.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/**=============================================================================================
 * ---------------------------------------------------------------------------------------------


                         #######                      ##                      
                         ##                           ##                      
                         ##        #####    #####   ######    #####   ## ###  
                         #####    ##   ##  ##   ##    ##     ##   ##  ###     
                         ##       ##   ##  ##   ##    ##     #######  ##      
                         ##       ##   ##  ##   ##    ##     ##       ##      
                         ##        #####    #####      ###    #####   ##     
   

 =============================================================================================
 --------------------------------------------------------------------------------------------- */
/* line 671, ../../_engine/_styles.scss */
footer, .footer {
  background: #eeeeee;
  font: colaboratelightregular;
  font-size: 100%;
}
/* line 677, ../../_engine/_styles.scss */
footer .menu, .footer .menu {
  font-family: colaboratelightregular;
  color: #444444;
  font-size: 100%;
}
/* line 682, ../../_engine/_styles.scss */
footer .logo, .footer .logo {
  line-height: 70px;
  background: url("../img/logo-footer.png") !important;
  width: 173px !important;
  height: 28px !important;
}
